First things first, lets add Streamlit support. 
In order to use streamlit in a jupyter notebook `streamlit_jupyter` is a neat package to work with. 

We also use `nbdev` to export only relevant cells of notebook to `.py` file

According to the examples provided for the package

+ start the cells you want exported with the `#|export` or `#|exporti` directive
  
+ run `nb_export` to convert the `.ipynb` to `.py`

In [1]:
%load_ext autoreload

%autoreload 2

In [2]:
# |exporti

# import the neccessary packages
import streamlit as st

from streamlit_jupyter import StreamlitPatcher, tqdm

import pandas as pd
import io

In [3]:
sp = StreamlitPatcher()
sp.jupyter() # register patcher with streamlit

In [4]:
# |exporti

st.title("BWF Tournaments")

# BWF Tournaments

In [5]:
# |exporti

st.markdown(f" ## Fetch the data from csv file and store it in a variable.")

 ## Fetch the data from csv file and store it in a variable.

In [6]:
# |exporti

tournaments_df = pd.read_csv('./data/tournaments.csv', index_col=0)

In [7]:
# |exporti

# To display the output in your Streamlit app, pipe the output of df.info to a buffer instead of sys.stdout, 
# get the buffer content, and display it with st.text like so:
buffer = io.StringIO()
tournaments_df.info(buf=buffer)
df_tournaments_info = buffer.getvalue()

st.text(df_tournaments_info)

```None
<class 'pandas.core.frame.DataFrame'>
Index: 325 entries, Badminton Asia West Asia Regional Junior Championships 2022 (Individual) to VICTOR Swedish Open 2024
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   organization  325 non-null    object
 1   city          325 non-null    object
 2   country       325 non-null    object
 3   type          250 non-null    object
 4   start_date    325 non-null    object
 5   end_date      325 non-null    object
 6   link          325 non-null    object
dtypes: object(7)
memory usage: 20.3+ KB

```

In [8]:
# |exporti

st.write(tournaments_df.describe())

,organization,city,country,type,start_date,end_date,link
count,325,325,325,250,325,325,325
unique,68,199,88,26,184,115,314
top,Badminton World Federation,Kuala Lumpur,Malaysia,International Challenge,12/7/2023,12/10/2023,/sport/tournament?id=500CEB85-35E4-4176-AF5D-9...
freq,79,8,14,41,6,13,2

In [9]:
# |exporti

st.markdown(
"""
As we see the total count for each column other than type is 325. And the total count in Type is only 250. so need to figure out what types are missing and how to fill those or remove those if necessary. 

Aditionally from the original dataset there's no index column. let's start with adding index column to the dataframe. 
"""
)

As we see the total count for each column other than type is 325. And the total count in Type is only 250. so need to figure out what types are missing and how to fill those or remove those if necessary.

Aditionally from the original dataset there's no index column. let's start with adding index column to the dataframe.

In [10]:
# |exporti

# add a new integer index column to the dataframe
tournaments_df.reset_index(inplace=True)
tournaments_df = tournaments_df.rename_axis('Index')

In [11]:
# |exporti

st.write(tournaments_df.head())

,name,organization,city,country,type,start_date,end_date,link
Index,,,,,,,,
0,Badminton Asia West Asia Regional Junior Champ...,BWF - Badminton Asia Confederation,Jaber Al-Ahmad City,Kuwait,NaN,11/5/2022,11/7/2022,/sport/tournament?id=C1215BDB-83B1-4931-9BF3-0...
1,Badminton Asia West Asia Regional Junior Champ...,Badminton Asia Confederation,TBC,Kuwait,Grade 1 – Junior Team Tournaments,11/8/2022,11/10/2022,/sport/tournament?id=75E6B18B-4108-4FED-88AE-8...
2,YONEX-SUNRISE Hong Kong Open 2022 (Cancelled),Badminton World Federation,Kowloon,Hong Kong China,HSBC BWF World Tour Super 500,11/8/2022,11/13/2022,/sport/tournament?id=3070A32C-117F-407C-90F1-F...
3,III Guatemala Future Series 2022,BWF - Federacion Nacional de Badminton de Guat...,Guatemala,Guatemala,Future Series,11/8/2022,11/13/2022,/sport/tournament?id=9BCD5E7D-D5A9-4FC2-9EBF-C...
4,PETRONAS Malaysia International Series 2022 (N...,BWF - Badminton Association of Malaysia,Ipoh,Malaysia,International Series,11/8/2022,11/13/2022,/sport/tournament?id=B1B0DCD4-9D69-4AA2-B3BB-6...

In [12]:
# |exporti

st.markdown(
"""
Now we have added the proper integier index column let's focus on missing values in type.  
"""
)

Now we have added the proper integier index column let's focus on missing values in type.

In [13]:
# |exporti

# find if there's any missing values. 
tournaments_df[tournaments_df.isna().any(axis=1)]

,name,organization,city,country,type,start_date,end_date,link
Index,,,,,,,,
0,Badminton Asia West Asia Regional Junior Champ...,BWF - Badminton Asia Confederation,Jaber Al-Ahmad City,Kuwait,NaN,11/5/2022,11/7/2022,/sport/tournament?id=C1215BDB-83B1-4931-9BF3-0...
7,Turkey U17 Open 2022 (Cancelled),Badminton Europe,Kecioren,Turkiye,NaN,11/10/2022,11/13/2022,/sport/tournament?id=D0662545-19F7-454C-B9F1-5...
17,YONEX Estonian U17 International 2022,Badminton Europe,Tartu,Estonia,NaN,12/9/2022,12/11/2022,/sport/tournament?id=6059B732-1580-42E9-9EA6-2...
33,Swedish Youth Games (U17) 2022,BWF - Swedish Badminton Association,Malmö,Sweden,NaN,11/18/2022,11/20/2022,/sport/tournament?id=2CF79894-967F-4695-829C-1...
40,II U17 Portugal Open 2022,BWF - Portugal Badminton Federation,Caldas da Rainha,Portugal,NaN,11/25/2022,11/27/2022,/sport/tournament?id=D8F749CA-31BD-41A1-9FD7-C...
...,...,...,...,...,...,...,...,...
312,YONEX Estonian Junior 2023,BWF - Badminton Estonia,Tartu,Estonia,NaN,12/8/2023,12/10/2023,/sport/tournament?id=3F6F757C-C03D-4430-9FD2-5...
313,YONEX Estonian U17 International 2023,BWF - Badminton Estonia,Tartu,Estonia,NaN,12/8/2023,12/10/2023,/sport/tournament?id=D7142F06-A134-4E80-B8A5-0...
315,Badminton Asia Senior Open 2023 (Badminton Asi...,BWF - Badminton Asia Confederation,Danang,Vietnam,NaN,12/12/2023,12/17/2023,/sport/tournament?id=CB6EF874-8562-4F22-8BDE-9...
319,Cyprus U17 International 2023,BWF - Cyprus Badminton Federation,Nicosia,Cyprus,NaN,12/15/2023,12/17/2023,/sport/tournament?id=47096C88-0D77-40F6-B3D5-B...
320,CARLTON International Youth Tournament 2023,BWF - Badminton Nederland,Hoensbroek,Netherlands,NaN,12/28/2023,12/30/2023,/sport/tournament?id=4348D54E-608D-472E-BFEC-1...

In [14]:
from nbdev.export import nb_export
nb_export('tournaments_eda.ipynb', lib_path = '.', name = 'tournaments')