First things first, lets add Streamlit support. 
In order to use streamlit in a jupyter notebook `streamlit_jupyter` is a neat package to work with. 

We also use `nbdev` to export only relevant cells of notebook to `.py` file

According to the examples provided for the package

+ start the cells you want exported with the `#|export` or `#|exporti` directive
  
+ run `nb_export` to convert the `.ipynb` to `.py`

In [1]:
%load_ext autoreload

%autoreload 2

In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
# |exporti

# import the neccessary packages
import streamlit as st

from streamlit_jupyter import StreamlitPatcher, tqdm

import pandas as pd
import io

In [4]:
sp = StreamlitPatcher()
sp.jupyter() # register patcher with streamlit

In [5]:
# |exporti

st.title("BWF Tournaments")

# BWF Tournaments

In [6]:
# |exporti

st.markdown(f" ## Fetch the data from csv file and store it in a variable.")

 ## Fetch the data from csv file and store it in a variable.

In [7]:
# |exporti

tournaments_df = pd.read_csv('./data/tournaments.csv', index_col=0)

pd.set_option('display.max_colwidth', None)

In [8]:
# |exporti

# To display the output in your Streamlit app, pipe the output of df.info to a buffer instead of sys.stdout, 
# get the buffer content, and display it with st.text like so:
buffer = io.StringIO()
tournaments_df.info(buf=buffer)
df_tournaments_info = buffer.getvalue()

st.text(df_tournaments_info)

```None
<class 'pandas.core.frame.DataFrame'>
Index: 325 entries, Badminton Asia West Asia Regional Junior Championships 2022 (Individual) to VICTOR Swedish Open 2024
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   organization  325 non-null    object
 1   city          325 non-null    object
 2   country       325 non-null    object
 3   type          250 non-null    object
 4   start_date    325 non-null    object
 5   end_date      325 non-null    object
 6   link          325 non-null    object
dtypes: object(7)
memory usage: 20.3+ KB

```

In [9]:
# |exporti

st.write(tournaments_df.describe())

,organization,city,country,type,start_date,end_date,link
count,325,325,325,250,325,325,325
unique,68,199,88,26,184,115,314
top,Badminton World Federation,Kuala Lumpur,Malaysia,International Challenge,12/7/2023,12/10/2023,/sport/tournament?id=500CEB85-35E4-4176-AF5D-945336D30059
freq,79,8,14,41,6,13,2

In [10]:
# |exporti

st.markdown(
"""
As we see the total count for each column other than type is 325. And the total count in Type is only 250. so need to figure out what types are missing and how to fill those or remove those if necessary. 

Aditionally from the original dataset there's no index column. let's start with adding index column to the dataframe. 
"""
)

As we see the total count for each column other than type is 325. And the total count in Type is only 250. so need to figure out what types are missing and how to fill those or remove those if necessary.

Aditionally from the original dataset there's no index column. let's start with adding index column to the dataframe.

In [11]:
# |exporti

# add a new integer index column to the dataframe
tournaments_df.reset_index(inplace=True)
tournaments_df = tournaments_df.rename_axis('Index')

In [12]:
# |exporti
st.markdown(f" ### Let's see our dataframe now with a proper index and first 10 results to get a sense of how it's looking")

st.dataframe(tournaments_df.head(10))

 ### Let's see our dataframe now with a proper index and first 10 results to get a sense of how it's looking

,name,organization,city,country,type,start_date,end_date,link
Index,,,,,,,,
0,Badminton Asia West Asia Regional Junior Championships 2022 (Individual),BWF - Badminton Asia Confederation,Jaber Al-Ahmad City,Kuwait,NaN,11/5/2022,11/7/2022,/sport/tournament?id=C1215BDB-83B1-4931-9BF3-0ED6756AA550
1,Badminton Asia West Asia Regional Junior Championships 2022 (Team) -Cancelled,Badminton Asia Confederation,TBC,Kuwait,Grade 1 – Junior Team Tournaments,11/8/2022,11/10/2022,/sport/tournament?id=75E6B18B-4108-4FED-88AE-8743ACB345FC
2,YONEX-SUNRISE Hong Kong Open 2022 (Cancelled),Badminton World Federation,Kowloon,Hong Kong China,HSBC BWF World Tour Super 500,11/8/2022,11/13/2022,/sport/tournament?id=3070A32C-117F-407C-90F1-F71EC3A7514D
3,III Guatemala Future Series 2022,BWF - Federacion Nacional de Badminton de Guatemal,Guatemala,Guatemala,Future Series,11/8/2022,11/13/2022,/sport/tournament?id=9BCD5E7D-D5A9-4FC2-9EBF-CCD119B6E00D
4,PETRONAS Malaysia International Series 2022 (New Dates),BWF - Badminton Association of Malaysia,Ipoh,Malaysia,International Series,11/8/2022,11/13/2022,/sport/tournament?id=B1B0DCD4-9D69-4AA2-B3BB-6AFE5FEC6434
5,Singapore Junior International Series 2022 (Cancelled),BWF - Badminton Asia Confederation,Singapore,Singapore,Junior International Series,11/8/2022,11/13/2022,/sport/tournament?id=93DE3750-7CA7-4528-8423-6F907747268C
6,VICTOR EXIST Junior International Series 2022 (Cancelled),BWF - Badminton Asia Confederation,Jakarta,Indonesia,Junior International Series,11/8/2022,11/13/2022,/sport/tournament?id=F586832E-1B43-4310-93A7-BBA46D9EB02E
7,Turkey U17 Open 2022 (Cancelled),Badminton Europe,Kecioren,Turkiye,NaN,11/10/2022,11/13/2022,/sport/tournament?id=D0662545-19F7-454C-B9F1-55C43CB06B67
8,FZ FORZA Norwegian International 2022,Badminton Europe,Sandefjord,Norway,International Series,11/10/2022,11/13/2022,/sport/tournament?id=FC24903E-7B56-432B-BA88-74DF508B9E56
9,YONEX Latvia Junior 2022,Badminton Europe,Sigulda,Latvia,Junior International Series,11/11/2022,11/13/2022,/sport/tournament?id=FD0902D0-6121-47E5-AEF6-70C37EA7A087

In [13]:
# |exporti

st.markdown(
"""
Now we have added the proper integier index column let's focus on missing values in `type`.  
"""
)

Now we have added the proper integier index column let's focus on missing values in `type`.

In [14]:
# |exporti

# find if there's any missing values. 
tournaments_df_nan_values = tournaments_df[tournaments_df.isna().any(axis=1)]

st.markdown(f" ### This following output is the list of values with NaN in the dataframe")
st.dataframe(tournaments_df_nan_values.head())

 ### This following output is the list of values with NaN in the dataframe

,name,organization,city,country,type,start_date,end_date,link
Index,,,,,,,,
0,Badminton Asia West Asia Regional Junior Championships 2022 (Individual),BWF - Badminton Asia Confederation,Jaber Al-Ahmad City,Kuwait,NaN,11/5/2022,11/7/2022,/sport/tournament?id=C1215BDB-83B1-4931-9BF3-0ED6756AA550
7,Turkey U17 Open 2022 (Cancelled),Badminton Europe,Kecioren,Turkiye,NaN,11/10/2022,11/13/2022,/sport/tournament?id=D0662545-19F7-454C-B9F1-55C43CB06B67
17,YONEX Estonian U17 International 2022,Badminton Europe,Tartu,Estonia,NaN,12/9/2022,12/11/2022,/sport/tournament?id=6059B732-1580-42E9-9EA6-2BE7A9E90BE2
33,Swedish Youth Games (U17) 2022,BWF - Swedish Badminton Association,Malmö,Sweden,NaN,11/18/2022,11/20/2022,/sport/tournament?id=2CF79894-967F-4695-829C-16C929133CF6
40,II U17 Portugal Open 2022,BWF - Portugal Badminton Federation,Caldas da Rainha,Portugal,NaN,11/25/2022,11/27/2022,/sport/tournament?id=D8F749CA-31BD-41A1-9FD7-CEF7F43D6741

In [15]:
# |exporti

st.markdown(f'''
after carefully observing the tournament events on BWF tournament software website and learning the event types and tournament structure grading, 
    the missing types are mostly `Grade 3 and Junior` tournaments. 
    https://corporate.bwfbadminton.com/events/    
'''
)

after carefully observing the tournament events on BWF tournament software website and learning the event types and tournament structure grading,
    the missing types are mostly `Grade 3 and Junior` tournaments.
    https://corporate.bwfbadminton.com/events/

In [16]:
# |exporti

# fill missing values with `Grade 3 and Junior`

tournaments_df['type'].fillna('Grade 3 and Junior', inplace=True)

In [17]:
# |exporti

st.markdown(f" ### After filling the missing values in `type` with `Grade 3 and Junior`, next let's convert the `start_date` and `end_date` to `datetime64[ns]` Dtype instead of object ")

tournaments_df['start_date'] = pd.to_datetime(tournaments_df['start_date'])
tournaments_df['end_date'] = pd.to_datetime(tournaments_df['end_date'])

 ### After filling the missing values in `type` with `Grade 3 and Junior`, next let's convert the `start_date` and `end_date` to `datetime64[ns]` Dtype instead of object

In [18]:
# |exporti

st.markdown('''
There, now we have all the dataset with `no null` values and the right Dtypes necessary to move further. 
''')

There, now we have all the dataset with `no null` values and the right Dtypes necessary to move further.

In [19]:
# |exporti

st.markdown(f" lets recheck our dateframe info after the fixes we did to make sure its looking good to proceed")
buffer = io.StringIO()
tournaments_df.info(buf=buffer)
df_tournaments_info = buffer.getvalue()

st.text(df_tournaments_info)

 lets recheck our dateframe info after the fixes we did to make sure its looking good to proceed

```None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          325 non-null    object
 1   organization  325 non-null    object
 2   city          325 non-null    object
 3   country       325 non-null    object
 4   type          325 non-null    object
 5   start_date    325 non-null    datetime64[ns]
 6   end_date      325 non-null    datetime64[ns]
 7   link          325 non-null    object
dtypes: datetime64[ns](2), object(6)
memory usage: 20.4+ KB

```

In [20]:
from nbdev.export import nb_export
nb_export('tournaments_eda.ipynb', lib_path = '.', name = 'tournaments')